  # THE PRICE IS RIGHT

In [99]:
import pandas as pd

In [101]:
import sqlite3

In [102]:
import glob

In [103]:
import os.path

In [104]:
import io

## import Showcase data from Excel

In [108]:
ShowcaseStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Showcase_spin.csv")

In [109]:
ShowcaseStats.head()

   Season  First_spinner_won  Second_spinner_won  Third_spinner_won
0      29                 92                 115                121
1      30                 93                 133                124
2      31                103                 129                118
3      32                106                 114                130
4      33                119                 106                125

## read to SQLite

In [110]:
import sqlite3

In [111]:
con = sqlite3.connect('priceisright2.db')

In [112]:
df_win = pd.read_csv('https://raw.githubusercontent.com/koryvette/python/master/project/output.csv')

In [113]:
df_win.head()

   season                 game  win  loss
0      29           Any_Number   12    15
1      29         Balance_Game    0     0
2      29  Barkers_Bargain_Bar   23     8
3      29      Barkers_MarkerS    3     5
4      29              Bonkers    0     0

In [114]:
df_win.to_sql('Games',con, if_exists='replace')

In [134]:
season_results = con.execute('SELECT Season, sum(Win) AS WIN_Total, sum(Loss) AS [LOSS_Total], (sum(Win) + sum(Loss)) AS [TOTAL_Played] from Games'\
                       ' GROUP BY Season')
for row in season_results:
    wins = row[1]
    games = row[3]
    win_pct = 100 * wins / games
    print(row[0], win_pct)

29 48.170731707317074
30 49.61904761904762
31 47.61904761904762
32 49.04761904761905
33 49.333333333333336
34 47.61904761904762
35 47.61904761904762
36 46.8421052631579
37 40.139616055846425
38 36.40350877192982
39 34.91228070175438
40 39.26701570680628
41 42.7689594356261
42 42.719298245614034
43 46.05263157894737
44 46.519823788546255
45 46.00526777875329
46 44.91228070175438

In [135]:
df_game_results = con.execute('SELECT Game, sum(Win) AS WIN_Total, sum(Loss) AS LOSS_Total, (sum(Win) + sum(Loss)) AS [TOTAL_Played] from Games'\
                       ' GROUP BY Game')
for row in df_game_results:
    wins = row[1]
    games = row[3]
    win_pct = 100 * wins / games
    print(row[0], wins, win_pct)

10_Chances 154 47.53086419753087
1_Right_Price 462 56.2043795620438
1_Wrong_Price 390 47.10144927536232
2_for_the_Price_of_1 130 44.52054794520548
3_Strikes 54 29.67032967032967
Any_Number 332 36.80709534368071
Balance_Game 160 42.32804232804233
Barkers_Bargain_Bar 526 62.322274881516584
Barkers_MarkerS 54 52.94117647058823
Bonkers 222 45.1219512195122
Bonus_Game 206 70.54794520547945
Bullseye 318 79.1044776119403
Buy_or_Sell 76 74.50980392156863
Card_Game 184 37.86008230452675
Check-Out 150 39.682539682539684
Check_Game 120 38.96103896103896
Clearance_Sale 52 33.333333333333336
Cliff_Hangers 514 69.64769647696477
Clock_Game 334 63.984674329501914
Coming_or_Going 446 59.946236559139784
Cover_Up 290 33.18077803203661
Credit_Card 46 41.81818181818182
Danger_Price 136 38.857142857142854
Dice_Game 358 49.31129476584022
Do_the_Math 142 60.68376068376068
Double_Cross 124 64.58333333333333
Double_Prices 632 59.51035781544256
Eazy_az_1_2_3 258 53.97489539748954
Five_Price_Tags 130 36.312849162011176
Flip_Flop 410 47.4537037037037
Freeze_Frame 260 36.011080332409975
Gas_Money 24 9.23076923076923
Golden_Road 32 17.391304347826086
Grand_Game 278 33.98533007334963
Gridlock 16 53.333333333333336
Grocery_Game 154 34.22222222222222
Half_Off 166 31.6793893129771
Hi_Lo 174 41.6267942583732
Hit_Me 116 75.32467532467533
Hole_in_One 192 65.3061224489796
Hot_Seat 6 9.67741935483871
Its_in_the_Bag 48 7.121661721068249
Joker 38 73.07692307692308
Let_em_Roll 198 43.61233480176212
Line_em_Up 180 44.33497536945813
Lucky_Seven 304 29.400386847195357
Magic_Number 130 49.24242424242424
Make_Your_Move 166 43.005181347150256
Master_Key 116 39.726027397260275
Money_Game 488 45.52238805970149
More_or_Less 50 18.51851851851852
Most_ExpenSive 530 53.86178861788618
Now_or_Then 278 70.91836734693878
On_the_Spot 22 42.30769230769231
One_Away 298 39.62765957446808
Pass_The_Buck 126 27.391304347826086
Pathfinder 108 24.107142857142858
Pay_the_Rent 8 5.47945205479452
Penny_Ante 28 82.3529411764706
Pick-a-Number 212 39.849624060150376
Pick-a-Pair 428 77.81818181818181
Plinko 488 45.18518518518518
Pocket_Change 158 46.470588235294116
Poker_Game 52 92.85714285714286
Punch_a_Bunch 44 6.432748538011696
Push_Over 466 48.04123711340206
Race_Game 214 53.5
Range_Game 396 51.968503937007874
Rat_Race 68 35.05154639175258
Safe_Crackers 196 50.77720207253886
Secret_X 248 52.32067510548523
Shell_Game 126 70.78651685393258
Shopping_Spree 222 62.359550561797754
Side_by_Side 388 66.21160409556315
Spelling_Bee 146 46.794871794871796
Squeeze_Play 434 40.71294559099437
Stack_the_Deck 50 16.129032258064516
Step_Up 18 11.25
Swap_Meet 148 46.835443037974684
Switch? 672 65.11627906976744
Switcheroo 72 21.176470588235293
Take_Two 136 52.713178294573645
Temptation 40 12.121212121212121
Thats_Too_Much 222 23.819742489270386
Time_is_Money 28 18.666666666666668
Triple_Play 26 15.662650602409638
Vend-O-Price 50 51.02040816326531

In [117]:
con.execute('SELECT * from Games')

In [118]:
df_lose = pd.read_csv('https://raw.githubusercontent.com/koryvette/python/master/project/Game_stats_Loss.csv')

In [119]:
df_lose.head()

,Season,Any_Number,Balance_Game,Barkers_Bargain_Bar,Barkers_MarkerS,Bonkers,Bonus_Game,Bullseye,Buy_or_Sell,Card_Game,...,Switcheroo,Take_Two,Temptation,10_Chances,Thats_Too_Much,3_Strikes,Time_is_Money,Triple_Play,2_for_the_Price_of_1,Vend-O-Price
0,29,15,0,8,5,0,2,4,1,14,...,8,2,7,3,2,2,0,7,5,0
1,30,12,0,8,2,11,0,2,3,12,...,11,2,9,5,18,4,0,5,2,0
2,31,14,0,7,2,6,4,2,1,9,...,7,2,6,4,18,5,0,6,7,0
3,32,20,0,13,4,9,1,2,0,11,...,6,3,8,4,14,6,4,5,3,0
4,33,16,0,10,3,5,1,2,2,14,...,8,1,6,9,17,4,0,5,1,0

In [125]:
cursor=con.cursor()
cursor.execute("SELECT MAX(Loss) FROM Games")

In [128]:
cursor.execute("SELECT MAX(Win) FROM Games")

In [120]:
df_showcase = pd.read_csv('https://raw.githubusercontent.com/koryvette/python/master/project/Showcase_spin.csv')

In [121]:
df_showcase.to_sql('Showcase',con, if_exists='replace')

In [122]:
df_showcase.head()

   Season  First_spinner_won  Second_spinner_won  Third_spinner_won
0      29                 92                 115                121
1      30                 93                 133                124
2      31                103                 129                118
3      32                106                 114                130
4      33                119                 106                125

In [66]:
con.close()

## import Winners data from Excel

In [29]:
WinnerStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Game_stats_Win.csv")

In [30]:
WinnerStats.head()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
0,29,12,0,23,3,0,4,9,7,4,...,4,4,5,10,4,1,0,1,1,0
1,30,11,0,21,5,11,5,10,4,5,...,0,5,1,4,7,1,0,1,4,0
2,31,8,0,24,5,10,2,12,6,5,...,4,6,3,8,8,3,0,2,2,0
3,32,5,0,18,3,6,8,9,7,3,...,3,3,2,7,9,1,11,2,4,0
4,33,9,0,15,3,7,8,8,4,3,...,1,5,3,3,6,4,0,1,5,0

## import Losers data from Excel

In [45]:
LoserStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Game_stats_Loss.csv")

In [46]:
LoserStats.head()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
0,29,15,0,8,5,0,2,4,1,14,...,8,2,7,3,2,2,0,7,5,0
1,30,12,0,8,2,11,0,2,3,12,...,11,2,9,5,18,4,0,5,2,0
2,31,14,0,7,2,6,4,2,1,9,...,7,2,6,4,18,5,0,6,7,0
3,32,20,0,13,4,9,1,2,0,11,...,6,3,8,4,14,6,4,5,3,0
4,33,16,0,10,3,5,1,2,2,14,...,8,1,6,9,17,4,0,5,1,0

In [123]:
import numpy as np
import matplotlib.pyplot as plt
plt.ylabel('Season')
plt.xlabel('Showcase Spinner position')

plt.plot(ShowcaseStats)

[<matplotlib.lines.Line2D at 0x1d9ab05dc50>,
 <matplotlib.lines.Line2D at 0x1d9ab05dda0>,
 <matplotlib.lines.Line2D at 0x1d9ab05def0>,
 <matplotlib.lines.Line2D at 0x1d9ab06e080>]